<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>ERROR</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row" style="margin-top: 3rem">
    <div class="col-md-8 mx-auto">
      <div class="card border-secondary text-white bg-secondary mb-3 maxWidth">
        <!--                <span th:if="${!errorMessage.empty}">-->
        <!--                    <h1 style="padding: 0.5em; line-height: 2em"><span th:text="${errorMessage}"/></h1>-->
        <!--                </span>-->

        <!--                <span th:if="${errorMessage.empty}">-->
        <!--                    <h1 style="padding: 0.5em; line-height: 2em" th:text="|A ${status} ${error} error has occured when requesting ${path} |"> </h1>-->
        <!--                </span>-->

        <h1 style="padding: 0.5em; line-height: 2em"><span th:text="${errorMessage}"/></h1>
        <h2 style="padding: 0.5em; line-height: 2em" th:text="|A ${status} ${error} error has occured when requesting ${path} |"> </h2>
        <br>
        <!--                <a class="btn btn-danger" onclick="history.back()"><span th:text="#{back}"></span></a>-->
        <a class="btn btn-danger" onclick="history.back()">Back</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>